.App {
  padding: 24px;
}

.App h1{
  text-align: center;
  margin-top: 0;
}

.App button {
  border: 3px solid #2d28ff;
  color: #2d28ff;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  font-weight: 600;
}

.load-more {
  display: flex;
  margin: 0 auto;
}

.map-view-button {
  position: absolute;
  right: 24px;
}

.map {
  margin: 0 auto;
}
