.event-list-item {
  border: 4px solid #2d28ff;
  border-radius: 4px;
  max-width: 1000px;
  display: flex;
  padding: 16px;
  margin: 0 auto 16px;
}

.event-list-item img {
  height: 100%;
  width: 150px;
  object-fit: contain;
  align-self: center;
  margin-right: 16px;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #2d28ff;
}

.content > div {
  font-size: 14px;
  margin: 6px 0 6px;
}

.heading {
  margin-bottom: 6px;
  font-weight: 600;
}
